{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - artwerks by Rishi Satsangi{% endblock %}

  {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com - artwerks by Rishi Satsangi">
		<meta property="og:description" content="Illustration, animation, and more by Rishi Satsangi">
		<meta property="og:image" content="http://imgsrc.artistcontrolbox.com/images/contents/2.jpg">
  {% endblock %} 

{% block headscript %}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">
		
		<div class="col-md-6" />
		<h1>Rishi</h1>
			<p>Rishi content.</p>

		</div>
	</div>

{% endblock %}